/*
 * Copyright (c) 2018 Trucks Control
 *
 */

/dts-v1/;
#include <st/f0/stm32f091Xc.dtsi>

/ {
	soc {
		usart3: serial@40004800 {
			compatible = "st,stm32-usart", "st,stm32-uart";
			reg = <0x40004800 0x400>;
			clocks = <&rcc STM32_CLOCK_BUS_APB1 0x00040000>;
			interrupts = <29 0>;
			status = "disabled";
			label = "UART_3";
		};
		usart4: serial@40004c00 {
			compatible = "st,stm32-usart", "st,stm32-uart";
			reg = <0x40004c00 0x400>;
			clocks = <&rcc STM32_CLOCK_BUS_APB1 0x00080000>;
			interrupts = <29 0>;
			status = "disabled";
			label = "UART_4";
		};
		pinctrl: pin-controller@48000000 {
			usart3_pins_a: usart3_a {
				rx_tx {
					rx = <STM32_PIN_PB11 (STM32_PINMUX_ALT_FUNC_4 | STM32_PUPDR_NO_PULL)>;
					tx = <STM32_PIN_PB10 (STM32_PINMUX_ALT_FUNC_4 | STM32_PUSHPULL_PULLUP)>;
				};
			};
			usart4_pins_a: usart4_a {
				rx_tx {
					rx = <STM32_PIN_PA1 (STM32_PINMUX_ALT_FUNC_4 | STM32_PUPDR_NO_PULL)>;
					tx = <STM32_PIN_PA0 (STM32_PINMUX_ALT_FUNC_4 | STM32_PUSHPULL_PULLUP)>;
				};
			};
		};
		rtc: rtc@40002800 {
			compatible = "st,stm32-rtc";
			reg = <0x40002800 0x400>;
			interrupts = <2 0>;
			clocks = <&rcc STM32_CLOCK_BUS_APB1 0x10000000>;
			prescaler = <32768>;
			status = "disabled";
			label = "RTC_0";
		};
	};
};

/ {
	model = "TRUCKS CONTROL BAIT Prototype 2 board";
	compatible = "st,stm32f091";

	chosen {
		zephyr,console = &usart2;
		zephyr,shell-uart = &usart2;
		zephyr,uart-mcumgr = &usart2;
		zephyr,sram = &sram0;
		zephyr,flash = &flash0;
		// zephyr,code-partition = &primary_slot_partition;
	};

	leds {
		compatible = "gpio-leds";
		led_1: red_led {
			gpios = <&gpiob 14 GPIO_DIR_OUT>;
			label = "Red LED";
		};
		led_2: green_led {
			gpios = <&gpiob 15 GPIO_DIR_OUT>;
			label = "Green LED";
		};
	};

	gpio_keys {
		compatible = "gpio-keys";
		// Entradas - Inicio
		nfc1: nfc_gpo {
			label = "NFC Wake-Up";
			gpios = <&gpioa 4 (GPIO_DIR_IN | GPIO_INT | GPIO_PUD_PULL_UP | GPIO_INT_EDGE | GPIO_INT_DOUBLE_EDGE | GPIO_INT_DEBOUNCE)>;
		};
		ps1: ps_pgood {
			label = "PS PGOOD";
			gpios = <&gpiob 1 (GPIO_DIR_IN | GPIO_INT | GPIO_PUD_PULL_UP | GPIO_INT_EDGE | GPIO_INT_DOUBLE_EDGE | GPIO_INT_DEBOUNCE)>;
		};
		ps2: ps_chg {
			label = "PS CHG";
			gpios = <&gpiob 0 (GPIO_DIR_IN | GPIO_INT | GPIO_PUD_PULL_UP | GPIO_INT_EDGE | GPIO_INT_DOUBLE_EDGE | GPIO_INT_DEBOUNCE)>;
		};
		acc1: acc_int1 {
			label = "ACC INT1";
			gpios = <&gpioa 9 (GPIO_DIR_IN | GPIO_INT | GPIO_PUD_PULL_UP | GPIO_INT_EDGE | GPIO_INT_DOUBLE_EDGE | GPIO_INT_DEBOUNCE)>;
		};
		acc2: acc_int2 {
			label = "ACC INT2";
			gpios = <&gpioa 8 (GPIO_DIR_IN | GPIO_INT | GPIO_PUD_PULL_UP | GPIO_INT_EDGE | GPIO_INT_DOUBLE_EDGE | GPIO_INT_DEBOUNCE)>;
		};
		// Entradas - Fim
		// Saidas - Inicio
		lora1: lora_boot0 {
			label = "LORA BOOT0";
			gpios = <&gpioa 5 GPIO_DIR_OUT>;
		};
		lora2: lora_reset {
			label = "LORA RESET";
			gpios = <&gpioa 6 GPIO_DIR_OUT>;
		};
		lora3: lora_wkup1 {
			label = "LORA WAKE-UP";
			gpios = <&gpioa 7 GPIO_DIR_OUT>;
		};
		bt1: bt_reset {
			label = "BLUETOOTH RESET";
			gpios = <&gpiob 5 GPIO_DIR_OUT>;
		};
		bt2: bt_hangup {
			label = "BLUETOOTH HANGUP";
			gpios = <&gpiob 4 GPIO_DIR_OUT>;
		};
		gps1: gps_reset {
			label = "GPS RESET";
			gpios = <&gpioa 10 GPIO_DIR_OUT>;
		};
		gps2: gps_wakeup {
			label = "GPS WAKE-UP";
			gpios = <&gpioa 11 GPIO_DIR_OUT>;
		};
		// Saidas - Fim
	};

	// aliases {
	// 	led-red = &red_led;
	// 	led-green = &green_led;
	// 	nfc-gpo = &nfc_gpo;
	// 	ps-pgood = &ps_pgood;
	// 	ps-chg = &ps_chg;
	// 	acc-int1 = &acc_int1;
	// 	acc-int2 = &acc_int2;
	// 	lora-boot0 = &lora_boot0;
	// 	lora-reset = &lora_reset;
	// 	lora-wakeup = &lora_wkup1;
	// 	bt-reset = &bt_reset;
	// 	bt-hangup = &bt_hangup;
	// 	gps-reset = &gps_reset;
	// 	gps-wakeup = &gps_wakeup;
	// };
};

// BLUETOOTH
&usart1 {
	current-speed = <115200>;
	pinctrl-0 = <&usart1_pins_a>;
	pinctrl-names = "default";
	status = "ok";
};

// CONSOLE
&usart2 {
	current-speed = <115200>;
	pinctrl-0 = <&usart2_pins_a>;
	pinctrl-names = "default";
	status = "ok";
};

// GPS
// &usart3 {
// 	current-speed = <115200>;
// 	pinctrl-0 = <&usart3_pins_a>;
// 	pinctrl-names = "default";
// 	status = "ok";
// };

// LORA
&usart4 {
	current-speed = <9600>;
	pinctrl-0 = <&usart4_pins_a>;
	pinctrl-names = "default";
	status = "ok";
};

&i2c1 {
	status = "ok";
	clock-frequency = <I2C_BITRATE_FAST>;
};

&rtc {
	status = "ok";
}; 

// &flash0 {
// 	/*
// 	 * For more information, see:
// 	 * http://docs.zephyrproject.org/latest/devices/dts/flash_partitions.html
// 	 */
// 	partitions {
// 		compatible = "fixed-partitions";
// 		#address-cells = <1>;
// 		#size-cells = <1>;

// 		boot_partition: partition@0 {
// 			label = "mcuboot";
// 			reg = <0x00000000 0xc000>; // 12 sectors 48KB
// 		};
// 		primary_slot_partition: partition@c000 {
// 			label = "image-0";
// 			reg = <0x0000c000 0x14000>; // 20 sectors 80KB
// 		};
// 		secondary_slot_partition: partition@20000 {
// 			label = "image-1";
// 			reg = <0x00020000 0x14000>; // 20 sectors 80KB
// 		};
// 		scratch_partition: partition@34000 {
// 			label = "image-scratch";
// 			reg = <0x0034000 0x4000>; // 4 sectors 16KB
// 		};
// 		storage_partition: partition@38000 {
// 			label = "storage";
// 			reg = <0x0038000 0x8000>; // 8 sectors 32KB
// 			// reg = <0x003c000 0x1000>; // 6 sectors 24KB
// 		};
// 	};
// };