# Zephyr Kernel Configuration
CONFIG_ARM=y
CONFIG_SOC_SERIES_STM32F0X=y

# Platform Configuration
CONFIG_SOC_STM32F091XC=y
CONFIG_BOARD_TC_BAIT_P1=y

# General Kernel Options
CONFIG_CORTEX_M_SYSTICK=y
CONFIG_SYS_CLOCK_HW_CYCLES_PER_SEC=16000000

CONFIG_SYS_CLOCK_TICKS_PER_SEC=1000

# Serial Drivers
CONFIG_SERIAL=y
CONFIG_UART_INTERRUPT_DRIVEN=y
# enable console
CONFIG_CONSOLE=y
CONFIG_UART_CONSOLE=y

# I2C configuration
CONFIG_I2C=y
CONFIG_I2C_1=y
# Enable LIS3DH sensor Driver (DISABLED FOR NOW)
CONFIG_SENSOR=y
CONFIG_LIS3DH=y
CONFIG_LIS3DH_TRIGGER_OWN_THREAD=y
CONFIG_LIS3DH_THREAD_PRIORITY=2
CONFIG_LIS3DH_THREAD_STACK_SIZE=1024

# Pinmux Driver
CONFIG_PINMUX=y

# GPIO Controller
CONFIG_GPIO=y

# Clock configuration
CONFIG_CLOCK_CONTROL=y
# CONFIG_CLOCK_CONTROL_QUARK_SE is not set
CONFIG_CLOCK_CONTROL_STM32_CUBE=y
CONFIG_CLOCK_CONTROL_STM32_DEVICE_INIT_PRIORITY=1
# CONFIG_CLOCK_STM32_SYSCLK_SRC_HSE is not set
# CONFIG_CLOCK_STM32_SYSCLK_SRC_HSI is not set
CONFIG_CLOCK_STM32_SYSCLK_SRC_PLL=y
CONFIG_CLOCK_STM32_PLL_SRC_HSI=y
# CONFIG_CLOCK_STM32_PLL_SRC_HSE is not set
CONFIG_CLOCK_STM32_PLL_PREDIV=2
CONFIG_CLOCK_STM32_PLL_MULTIPLIER=4
CONFIG_CLOCK_STM32_AHB_PRESCALER=1
CONFIG_CLOCK_STM32_APB1_PRESCALER=1
CONFIG_CLOCK_STM32_MCO1_SRC_NOCLOCK=y
CONFIG_CLOCK_STM32_MCO2_SRC_NOCLOCK=y
